{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 id="Assignments_title">Assignments</h1>
        <h2>Submit <a id = submithere href="https://markus2.utsc.utoronto.ca/courses">Here </a></h2>
            <div class="AfirstDiv">
                <h1>Assignment 1</h1>
                
                <p>weighting: 8%</p>
                <p>Due Date: February 14th, 11:59pm</p>
                <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dolores, odio iusto explicabo eos ab asperiores accusantium nam doloremque. Recusandae autem placeat doloremque ipsa tenetur voluptatem explicabo earum alias accusamus?</p>
            </div>
            <div class="AsecondDiv">
                <h1>Assignment 2</h1>
                <p>weighting: 10%</p>
                <p>Due Date: March 15th, 11:59pm</p>
                <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dolores, odio iusto explicabo eos ab asperiores accusantium nam doloremque. Recusandae autem placeat doloremque ipsa tenetur voluptatem explicabo earum alias accusamus?</p></p>
            </div>
            <div class="AthirdDiv">
                <h1>Assignment 3</h1>
                <p>weighting: 15%</p>
                <p>Due Date: TBD</p>
                <p>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dolores, odio iusto explicabo eos ab asperiores accusantium nam doloremque. Recusandae autem placeat doloremque ipsa tenetur voluptatem explicabo earum alias accusamus?</p></p>
            </div>
        </div>
</body>
</html>
{% if session.name and session.user_type =='student' %}
          <h3> Welcome {{ session.name }} to CSCB20 Lecture notes! </h3>
          <p> This is for student's view </p>

{% endif %}

{% if session.name and session.user_type =='instructor' %}
    <h3> Welcome {{ session.name }} to CSCB20 Lecture notes! </h3>
    <p> This is for instructor's view </p>

{% endif %}

{% if not session.name %}
    <h1>This is the CSCB20 Course page</h1>
    <p>
    Please <a href="{{url_for('create_acc')}}">create an account</a> or <a href="{{url_for('login')}}">login</a> to access the rest of the website.
    
    Thank you!
    </p>

{% endif %}

{% endblock %}
