<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class = flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}

<body>
    <section class="create_acc_container">
        <header>Welcome to CSCB20</header>
        <p>Select account type</p>
        <form action="http://127.0.0.1:5000/create-account" method="post" >
            
            <div class="radio-container">
            <input type="radio" id="stu" name="user_type" value="student" checked>
            <label for="stu">Student</label>
            
            <input type="radio" id="ins" name="user_type" value="instructor">
            <label for="ins">Instructor</label><br>
            </div>

            <label for="Username">Username</label>
            <input type="text" id="Username" name="Username" required><br>

            <label for="Firstname">First name</label>
            <input type="text" id="Firstname" name="Firstname" required><br>

            <label for="Password">Password</label>
            <input type="text" id="Password" name="Password" required><br>

            <button type="create-acc">Create an Account</button>
        </form>

        Already have an account? Login in <a href="{{url_for('login')}}">here</a>
    </section>
</body>
</html>