{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labs</title>
</head>
<body>
    <div class="container">
        <h1 id="Labs_title">Labs (Tutorials)</h1>
            <div class="firstDiv">
                <h1>Tutorial Worksheets</h1>
                
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 1 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 2 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 3 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 4 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 5 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 6</a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 7 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 8 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 9 </a></p>
                <p><a id = "tutworksheet" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 10</a></p>
            </div>
            <div class="secondDiv">
                <h1>Tutorial Solutions</h1>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 1.sol </a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 2.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 3.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 4.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 5.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 6.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 7.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 8.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 9.sol</a></p>
                <p><a id = "tutworksheetsol" href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Tut 10.sol</a></p>
            </div>
        </div> 
 
</body>
</html>
{% if session.name %}
{% endif %}

{% if not session.name %}
    <h1>This is the CSCB20 Course page</h1>
    <p>
    Please <a href="{{url_for('create_acc')}}">create an account</a> or <a href="{{url_for('login')}}">login</a> to access the rest of the website.
    
    Thank you!
    </p>

{% endif %}

{% endblock %}
