{% extends "template.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
</head>
<body>
    <div class="news-section">
        <h2 class="page_title">News and Announcements</h2>
        <div class="news-item">
          <p>News item 1 content goes here...</p>
        </div>
        <div class="news-item">
          <p>News item 2 content goes here...</p>
        </div>
        <div class="news-item">
          <p>News item 3 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 4 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 5 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 6 content goes here...</p>
        </div>
        <div class="news-item">
            <p>News item 7 content goes here...</p>
        </div>
    </div>
    
</body>
</html>
{% if session.name %}
          <h3> Welcome {{ session.name }} to CSCB20 Lecture notes! </h3>
          <p> This is the news page </p>
    {% endif %}


{% if not session.name %}
    <h1>This is the CSCB20 Course page</h1>
    <p>
    Please <a href="{{url_for('create_acc')}}">create an account</a> or <a href="{{url_for('login')}}">login</a> to access the rest of the website.
    
    Thank you!
    </p>

{% endif %}

{% endblock %}