{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    <div class = "resources-section">
        <h2 class="page_title">Resources</h2>
    </div>

    <div id="long-syl"><b>Resources:</b>
        <h3><a href="https://docs.google.com/document/d/1tMr4Tzc7Jj-1yCtPWt9KjwmIPN7YniACMe0PUvoE4Qc/edit?usp=sharing">Textbook</a></h3>
        <p> Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently.

            <li>Beginner Tutorial for <a href="https://code.tutsplus.com/sql-for-beginners--net-8200a">MySQL</a></li>
            <li>Email communication</li>
    </p></div>

    </div>
    <div id="long-syl"><b>Discussion Board:</b> <br>
        <p>Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor. </p>

        <p>You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.</p>

    </div>
    <br>  
</body>
</html>
{% if session.name %}
          <h3> Welcome {{ session.name }} to CSCB20 Lecture notes! </h3>
          <p> This is the resources page </p>

          {% endif %}

{% if not session.name %}
    <h1>This is the CSCB20 Course page</h1>
    <p>
    Please <a href="{{url_for('create_acc')}}">create an account</a> or <a href="{{url_for('login')}}">login</a> to access the rest of the website.
    
    Thank you!
    </p>

{% endif %}

{% endblock %}