<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='static/css/styles.css')}}">
    <title>{{ pagename }} page</title>
</head>

<body>
    <div class="container">
        <p>Test</p>
    </div>
    
    <!--  navbar for instructors 
     {% if session.type = instructor}
     nav bar for instructors here
    {% block content %}
    {% endblock %}
    footer here

    {% elif session.type = students }
    nav bar for students here
     {% block content %}
    {% endblock %}
        footer here


    { % else  %}
    (in home.html -> if not in session name, do nothing basically)

    <a href="{{ url_for('login') }}">Please login here </a>
    --> 

    {% block content %}
    {% endblock %}
</body>
</html>