<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='static/css/styles.css')}}">
    <title>Yellow Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nuoya.css">

</head>

<body>
    {% block additional_content %}

{% if session.name %}

<!-- <section class = "navbar_section"> not sure if we need yet.. -->

<div class="navbar">
    <a href="#" class="active">Home</a>

        {% if session.user_type =='student' %}  
            <a href="{{url_for('grades_stuview')}}">Grades</a>
        {% elif session.user_type =='instructor' %}
            <a href="{{url_for('grades_insview')}}">Grades</a>
        
        {% endif %}
    <a href="{{url_for('news')}}">News</a>
    <a href="https://piazza.com/utoronto.ca/winter2024/cscb20h3s">Piazza</a>
    <a href="{{url_for('lectures')}}">Lectures</a>
    <a href="{{url_for('labs')}}">Labs</a>
    <a href="{{url_for('assignments')}}">Assignments</a>
    <a href="{{url_for('tests')}}">Tests</a>
    <a href="{{url_for('resources')}}">Resources</a>

    {% if session.user_type =='student' %}  
        <a href="{{url_for('feedback_form')}}">Feedback</a>
    {% elif session.user_type =='instructor' %}
        <a href="{{url_for('feedback')}}">Feedback</a>
    {% endif %}

    <a href="{{ url_for('logout') }}">Log Out</a>
    {% endif %}

    {% endblock %}

</div>
<!--</section>-->

    {% block content %}
    {% endblock %}
</body>
</html>