<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='static/css/styles.css')}}">
    <title>Yellow Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nuoya.css">

</head>

<body>

<div class="navbar">
    <a href="#" class="active">Home</a>
    {% block additional_content %}
        {% if session.user_type =='student' %}  
            <a href="{{url_for('grades_stuview')}}">Grades</a>
        {% elif session.user_type =='instructor' %}
            <a href="{{url_for('grades_insview')}}">Grades</a>
        
            {% endif %}
    {% endblock %}
    <a href="{{url_for('news')}}">News</a>
    <a href="{{url_for('piazza')}}">Piazza</a>
    <a href="{{url_for('lectures')}}">Lectures</a>
    <a href="{{url_for('labs')}}">Labs</a>
    <a href="{{url_for('assignments')}}">Assignments</a>
    <a href="{{url_for('tests')}}">Tests</a>
    <a href="{{url_for('resources')}}">Resources</a>
    <a href="#">Feedback</a>

</div>
    {% block content %}
    {% endblock %}
</body>
</html>